.green-icon{
    color: green;
}

.red-icon{
    color: red;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-container{
    display: flex;
    justify-content: center;
}
.circular-photo {
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 1%;
}