<mat-spinner *ngIf="loading" color="primary"></mat-spinner>

<div class="grid" *ngIf="!loading">

    <div id="headerPost">
        <div id="titlePost">
            <h3>{{title}}</h3>
        </div>
    </div>

    <div id="contentPost">
        <span>
            <div class="user-data">

                <div class="image-user-container">
                    <img *ngIf="this.authorPhotoProfile!=undefined" class="profile-img" [src]="this.authorPhotoProfile">
                    <img *ngIf="this.authorPhotoProfile==undefined" class="profile-img"
                        src="assets/images/profile-default.png">



                </div>
                <span class="name">{{authorFullName}}</span>

            </div>

        </span>


        <div id="messageContent">
            <div [innerHTML]="message"></div>
            <p class="date">{{creationDate | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
        </div>

    </div>






    <mat-spinner *ngIf="loading" color="primary"></mat-spinner>

    <div *ngIf="!loading" id="interactionsSection">
        <h4>Comentarios</h4>
        <p> {{this.interactionsObjects.length}} respuestas </p>
        <div *ngFor="let interaction of interactionsObjects">
            <div class="interaction">
                <button mat-button class="floatRight" (click)="deleteInteraction(interaction._id)">
                    <mat-icon *ngIf="checkOwner(interaction.authorId)">delete</mat-icon>
                </button>
                <div class="user-data">

                    <div class="image-user-container">
                        <img *ngIf="interaction.photo!=undefined" class="profile-img" [src]="interaction.photo">
                        <img *ngIf="interaction.photo==undefined" class="profile-img"
                            src="assets/images/profile-default.png">


                    </div>
                    <span class="name">{{interaction.authorFullName}} </span> <span
                        class="dateComment">{{interaction.date | date:
                        'dd/MM/yyyy HH:mm:ss' }}</span>
                </div>

                <div [innerHTML]="interaction.message" class="content"></div>

            </div>

        </div>



        <div id="commentOptions">
            <form [formGroup]="form">
                <quill-editor formControlName="editorContent" placeholder='' [modules]="modulesQuill"
                    (onEditorChanged)="onChangedEditor($event)" [styles]="{height: '350px'}"></quill-editor>
            </form>
            <button id="buttonComment" mat-raised-button color="primary" (click)="sendInteraction()">
                Comentar
            </button>
        </div>




    </div>