.post-card{
    background-color: white;
    margin: 0 auto; float:none;
    border-style: solid;
    border-width: 0.25px 0.5px 0.25px 0.5px;
    border-color: grey;
    width: 60%;
    position: relative;
}
h3{
    color: #008080;
    
}
.post-card p, h3{
    margin-left: 1%;
    margin-top: 0.5%;
}
.paginator-custom{
    background-color: white;
    margin: 0 auto; float:none;
    width: 60%;
    position: relative;
}

button{
    margin: 0 auto; float: none; position:relative;
}


.container{
    position : relative;
    margin-top: 2%;
    
}

.icon-text {
    display: flex;
    align-items: center;
}

.red-icon{
    color: rgb(250, 83, 83);
}

.add {
    position: absolute;
    top: 1%;
    right: 1%;
}



