<div class="container" *ngIf="!navigation">
  <div class="options">
    <mat-form-field class="selector">
      <mat-label>Ordenar por...</mat-label>

      <mat-select id="filterSelector" [value]="selected" (selectionChange)="onFilterChange($event.value)">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="newPost()" id="newPost" mat-raised-button color="primary">
      <mat-icon >edit</mat-icon>Nuevo tema
    </button>

  </div>


  <mat-paginator *ngIf="this.posts.length > 0" class="paginator-custom" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page" (page)="getServerData($event)"></mat-paginator>
  <mat-spinner *ngIf="loading" color="primary"></mat-spinner>


  <div class="no-posts" *ngIf="this.posts.length == 0 && !loading">
    <h2 id="no-posts-header"> No hay ningún tema publicado todavía. </h2>
    <h3> Puedes crear un nuevo tema pulsando el botón superior. </h3>
  </div>

  <div class="content-card" *ngFor="let post of posts">

    <div class="post-card" >
      <button  *ngIf="checkPermissions(post.authorId)" mat-button class="floatRight" (click)="deletePost(post._id)">
        <mat-icon matTooltip="Eliminar tema">delete</mat-icon> Eliminar
      </button>

      <p class="author">Publicado por {{ post.authorFullName }} el día {{ post.creationDate | date: 'dd/MM/yyyy'}} </p>
      <h3 class="content navigatorLink" style="color: green;" (click)="navigateToPost(post._id)">{{ post.title }}</h3>
      <p class="content add"></p>
      <div [innerHTML]="post.message" class="content"></div>

      <button mat-button>
        <div class="icon-text">
          <mat-icon tabindex=0 (keydown.enter)="markAsFavorite(post._id, false)" matTooltip="Marcar tema como no favorito"  id="isFavorite" class="red-icon" *ngIf="post.isFavorite" (click)="markAsFavorite(post._id, false)">favorite
          </mat-icon>
          <mat-icon tabindex=0 (keydown.enter)="markAsFavorite(post._id, true)" matTooltip="Marcar tema como favorito"  id="isNotFavorite" class="red-icon" *ngIf="!post.isFavorite" (click)="markAsFavorite(post._id, true)">favorite_border
          </mat-icon>
        </div>
      </button>
      <button mat-button (click)="navigateToPost(post._id)" >
        <div class="icon-text" >
          <mat-icon>comment</mat-icon><span>{{ post.interactions.length }} Respuestas</span>
        </div>
      </button>
    </div>
  </div>


</div>