<mat-nav-list>
    <h1 matSubheader>Menu</h1>

    <a id="worksOption" mat-list-item routerLinkActive="list-item-active" routerLink="/trabajos" (click)="onClickedMenuItem()">
        <mat-icon>assignment</mat-icon>
        Mis Trabajos
    </a>
    <a id="profileOption" mat-list-item routerLinkActive="list-item-active" routerLink="/perfil/{{this.idUser}}" (click)="onClickedMenuItem()">
        <mat-icon>person</mat-icon>
        Perfil
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/videollamadas" (click)="onClickedMenuItem()">
        <mat-icon>call</mat-icon>
        Videollamadas
    </a>
    <a  id="worksRequestsOption" mat-list-item routerLink="/solicitudes-trabajos" (click)="onClickedMenuItem()">
        <mat-icon *ngIf="this.newWorkRequests>0" matBadge="{{this.newWorkRequests}}" matBadgePosition="before" matBadgeColor="accent" class="my-custom-badge-accent">add</mat-icon>
        <mat-icon *ngIf="this.newWorkRequests==0">add</mat-icon>
        Solicitudes pendientes</a> 
    <a id="notificationsOption" mat-list-item routerLink="/notificaciones" (click)="onClickedMenuItem()">
        <mat-icon *ngIf="this.newNotifications>0" matBadge="{{this.newNotifications}}" matBadgePosition="before" matBadgeColor="accent" class="my-custom-badge-accent">notifications</mat-icon>
        <mat-icon *ngIf="this.newNotifications==0" >notifications</mat-icon>

        Notificaciones</a>
    <a id="helpOption" mat-list-item routerLink="/ayuda" (click)="onClickedMenuItem()">
        <mat-icon>help</mat-icon>
        Ayuda</a>
    <mat-divider></mat-divider>

</mat-nav-list>