<mat-nav-list>
    <h1 matSubheader>Menu</h1>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/trabajos">
        <mat-icon>assignment</mat-icon>
        Mis Trabajos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/perfil">
        <mat-icon>person</mat-icon>
        Perfil
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/calendario">
        <mat-icon>calendar_today</mat-icon>
        Calendario
    </a>
    <a mat-list-item routerLink="/calendario">
        <mat-icon>add</mat-icon>
        Solicitudes pendientes</a>
    <a mat-list-item routerLink="/calendario">
        <mat-icon>notifications</mat-icon>
        Notificaciones</a>
    <a mat-list-item routerLink="/calendario">
        <mat-icon>help</mat-icon>
        Ayuda</a>
    <mat-divider></mat-divider>

</mat-nav-list>