mat-form-field {
    width: 90%;
    margin: 1% 1% 1% 1%
}



#deleteButton, #createButton {
    margin-right: 10%;
    float: right;

}

#cancelButton{
    float: right;
    margin-right: 2%;
}