.container{
  margin-top: 2%;
  margin-left: 4%;

  margin-right:4%;
}
.newButtonDiv{
  margin-bottom: 2%;
}

.green-icon {
  color: green;
}
.purple-icon {
  color: purple;
}

.aligned-text{
  position: absolute;
  margin-top: 5px;
}

ul{
  list-style: none;
  display: inline;
}

ul li{
  display:inline;
  margin-right: 55px;
}


.leyenda{
  float: right;
  margin-right: 2%;
  margin-bottom: 3%;
}

.calendar-container{
  margin-top: 2%;
}
