.post-card{
    background-color: white;
}

  


.content{
    margin-left: 3%;
}

/*

#footer{
    display:inline;
}

#footer .footer_container{
    display:inline;
}

ul {
  list-style: none;
}

li {
    display: inline-block;
    margin-left: 1%;
}
*/



