<div class="grid" *ngIf="!this.onCall">
    <div class="contacts-grid" >
        <div class="contacts-frame" >

            <h2 id="contact-title">Contactos </h2>
            <mat-form-field>
                <input matInput type="text" placeholder="Buscar contacto..." (input)="onSearch($event.target)" />
            </mat-form-field>

            <div class="contact" *ngFor="let contact of contacts">
                <div class="image-user-container">
                    <img class="circular-photo"
                        src="assets/images/profile-default.png" />
                    <div *ngIf="!contact.isOnline" class='badge-offline'>
                    </div>
                    <div *ngIf="contact.isOnline" class='badge-online'>
                    </div>
                </div>


                <span class="info-user">{{contact.name}} {{contact.surname}}
                </span>
                <mat-icon class="icon-call" (click)="initCall(contact._id)">call</mat-icon>
                <mat-menu></mat-menu>
            </div>
        </div>
    </div>
    <div class="call-grid">




        </div>
    </div>


<div class="call-background">
<div *ngIf="this.onCall" class="wrapper-video">
    <div class="video-user" *ngFor="let user of listUser">
        <video [srcObject]="user" autoplay></video>
        <div class="label-name">
            <span>{{user.idUser}}</span>
        </div>
        <h1>{{user.idUser}}</h1>
    </div>


</div>

<div  *ngIf="this.onCall" class="videocall-options">

    <button class="call-options" mat-raised-button><mat-icon>microphone</mat-icon></button>

    <button class="call-options" mat-raised-button (click)="this.endCall()"><mat-icon style="color: red">call_end</mat-icon></button>
    <button class="call-options"  mat-raised-button><mat-icon >camera_alt</mat-icon></button>


</div>
</div>

<!-- class="wrapper-video" >
    

    <div *ngFor="let user of listUser">
        <video [srcObject]="user" autoplay></video>
        <div class="label-name">
            <span>{{user.nameUser}}</span>
          </div>
    </div>


  </div>


  -->