/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";
@include mat-core();
//@import '~primeicons/primeicons.css';
//@import '~primeng/resources/primeng.min.css';
//@import '../node_modules/primeng/resources/themes/luna-pink/theme.css';
@import '~quill/dist/quill.bubble.css';
/* angular-cli file: src/styles.css */
$my-primary: mat-palette($mat-green);
$my-accent: mat-palette($mat-pink, A200, A400);
$my-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

@include angular-material-theme($custom-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-responsive {
    width: 20%;
}

@media only screen and (max-width: 1000px) {
    .dialog-responsive {
        width: 75%;
    }
}

.my-custom-badge-accent.mat-badge-accent .mat-badge-content {
    background-color: #A30036;
    color: white;
}

.mat-table {
    border-collapse: separate !important;
    border-spacing: 0 4px !important;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: rgb(6, 117, 40);
}

