table {
    width: 100%;
  }

  .operations:hover {
    cursor: pointer;
  }

  .operations, .file-icon  {
    color: rgb(6, 117, 40);

}
  .mat-spinner{
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 10%;
}

.aligned-with-icon{
  position: relative;
  top: -5px;

}

#createButton {
  margin-right: 10%;
  float: right;
}

#cancelButton{
  float: right;
  margin-right: 2%;
}
