
h3{
    color: #008080;
    font-size: 1.3em;
    
}
.post-card p, h3{
    margin-left: 1%;
    margin-top: 0.5%;
    
}

.content{
    margin-left: 1%;
    margin-right: 1%;
}

.author{
    color: grey;
    font-size: 80%;
}




.icon-text {
    display: flex;
    align-items: center;
}

.red-icon{
    color: rgb(250, 83, 83);
}
    .post-card{
        background-color: white;
        margin: 0 auto; float:none;
        border-style: solid;
        border-width: 0.25px 0.5px 0.25px 0.5px;
        border-color: lightgrey;
        width: 60%;
        position: relative;
        border-radius: 10px;
    }

    .post-card:hover{
        border-color: grey;
    }

    .navigatorLink:hover{
        cursor:pointer;
    }

@media only screen and (min-width:765px) and (min-height: 765px) {
    .paginator-custom{
        background-color: white;
        margin: 0 auto; float:none;
        width: 60%;
        position: relative;
    }

    .container{
        position : relative;
        margin-top: 2%;
        
    }
    
    .add {
        position:absolute;
        top: 1%;
        right: 1%;
    }

    #newPost{
        margin-left: 2%;
    
    }

    


}

.content-card{
    margin-bottom: 2%;
}
button{
    margin: 0 auto; float: none; position:relative;
}


mat-form-field{
    margin: 0 auto; float: none; position:relative;
}
.selector{
    margin-left: 20%;
}


.mat-spinner{
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}