  <div class="breadcrumb">
  <ol>
    <li *ngFor="let breadcrumb of breadcrumbs">
      <span *ngIf="breadcrumb.label!='idWork' &&breadcrumb.label!='idPost' " [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
        {{ breadcrumb.label }}
      </span>
      <span *ngIf="breadcrumb.label=='idWork'" [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
        {{ this.titleWork != undefined && this.titleWork.length>50 ? this.titleWork.substring(1,50).concat("...") : this.titleWork }}
      </span>
      <span *ngIf="breadcrumb.label=='idPost'" [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
        {{ this.titlePost != undefined && this.titlePost.length > 50 ? this.titlePost.substring(1,50).concat("...") : this.titlePost }}
      </span>
    </li>
  </ol>
</div>