

<div class="wrapper">

<div class="breadcrumb-div"> 
    <app-custom-breadcrumb></app-custom-breadcrumb>  
</div>
<div class="tab-div">
<mat-tab-group #tab animationDuration="1ms" (click)="onClick($event)">
  <mat-tab label="Información General" #infoTab> <app-info-work> </app-info-work></mat-tab>
  <mat-tab label="Foro" #foroTab><app-foro></app-foro></mat-tab>
  <mat-tab label="Archivos" #filesTab> <app-files></app-files></mat-tab>
  <mat-tab label="Calendario" #calendarTab><app-calendar-work></app-calendar-work></mat-tab>
  <mat-tab label="Tareas" #tasksTab><app-calendar-work></app-calendar-work></mat-tab>

</mat-tab-group>
</div>
</div>