table {
    width: 100%;
  }

  .operations:hover {
    cursor: pointer;
  }
  .mat-spinner{
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 10%;
}

.aligned-with-icon{
  position: relative;
  top: -5px;

}