mat-card {
    max-width: auto;
  }

  mat-label{
      font-size: 1.7em;
  }

  input, mat-select, textarea {
      font-size: 1.4em;
  }
  
  mat-form-field {
    display: block;
  }

  