
<mat-grid-list cols="3" rowHeight=15em>
    <mat-grid-tile>
  <mat-card class="work-card">
    <mat-card-title
      >Plataforma de Gestión de Trabajos Académicos</mat-card-title
    >
    <mat-card-subtitle>Trabajo Fin de Grado</mat-card-subtitle>
    <mat-card-content class="content-card">
      <p>Test descripción de prueba</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Acceder</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="work-card">
    <mat-card-title>Trazabilidad con inteligencia artificial</mat-card-title>
    <mat-card-subtitle>Trabajo Fin de Máster</mat-card-subtitle>
    <mat-card-content>
      <p>Test descripción de prueba</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Acceder</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>
</mat-grid-list>
