table {
    width: 100%;
  }

  .button-icon{
    margin-right: 1em;
  }

  .mat-spinner{
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 15%;
}

.no-requests{
  margin-top: 2%;
  justify-content: center;
  text-align: center;
}
