table {
    width: 100%;
  }

.newTaskButton{
  margin-top: 1%;
  margin-bottom: 1%;
}

.buttonSettings{
  margin-left: 1%;
}
.no-tasks{
  
  justify-content: center;
  text-align: center;
  margin-top: 2%;
}